<div class="row">
  <div class="small-4 columns">
    <%=render :partial => 'tweets/nav', :locals=>{:tweets=>@tweets, :tweet=>@tweet, :user=>@user, :followings=>@followings, :followers=>@followers}%>
  </div>
  <div class="small-8 columns">
    <div class="tweets">
      <div class="heading">
        Following<span class="number"><%=@followings.length%></span>
      </div>
      <hr/>
      <%=render :partial => 'followers/followings', :locals=>{:followings=>@followings}%>
    </div>
  </div>
</div>